@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d87d4a;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(0, 0%, 98%);
}

.shadow {
  box-shadow: 0 0 0 300rem rgba(0, 0, 0, 0.4);
}

.home-intro {
  background-image: url("/assets/home/tablet/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 100px);
}

@media (min-width: 768px) {
  .home-intro {
    background-image: url("/assets/home/tablet/image-header.jpg");
  }
}

@media (min-width: 1024px) {
  .home-intro {
    background-image: url("/assets/home/desktop/image-hero.jpg");
    background-position: center 80%;
  }
}

.speakerzx7 {
  background-image: url("/assets/home/desktop/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
